<!--<h1>Lessons#hello</h1>-->
<!--<p>Find me in app/views/lessons/hello.html.erb</p>-->

<!--<h1>Helloアクションです！！！</h1>-->
<!--<p>自分で作成してみました。</p>-->
<!--<p><%= @message %></p>-->

<%= render "shared/partial" %>　

<!--<h1><%= @hello %></h1>-->
<!--<p><%= @message %></p>-->